flows_DESKTOP-8CJH8CV.json
[
    {
        "id": "ef4cb095a7656cc5",
        "type": "tab",
        "label": "Oumuamua",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a0954fe29f87ceff",
        "type": "subflow",
        "name": "Do Script",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 260,
                "wires": [
                    {
                        "id": "d834998fd2533b91"
                    }
                ]
            }
        ],
        "out": [],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 440,
            "y": 140,
            "wires": [
                {
                    "id": "5a1ebb28ce1c7929",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "90cfb10a56fd7196",
        "type": "subflow",
        "name": "Get Script",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "5656aa8175c7222b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "7cc11906534b4543",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 720,
            "y": 200,
            "wires": [
                {
                    "id": "37980c96a4b8052a",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "80f13c56f5360838",
        "type": "subflow",
        "name": "Twitter Scanner",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "4c6fcf4b1972aa16"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 80,
                "wires": [
                    {
                        "id": "06bb62c348b36af2",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#3FADB5",
        "status": {
            "x": 620,
            "y": 240,
            "wires": [
                {
                    "id": "9baf0c949fbdde64",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "b77158335238532e",
        "type": "subflow",
        "name": "Process UI",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "72ab58c8cba0a9ca"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 700,
                "y": 80,
                "wires": [
                    {
                        "id": "0b31b19fc634e035",
                        "port": 0
                    }
                ]
            },
            {
                "x": 700,
                "y": 120,
                "wires": [
                    {
                        "id": "da73d9101d84a872",
                        "port": 0
                    }
                ]
            },
            {
                "x": 700,
                "y": 160,
                "wires": [
                    {
                        "id": "da73d9101d84a872",
                        "port": 1
                    }
                ]
            },
            {
                "x": 700,
                "y": 200,
                "wires": [
                    {
                        "id": "da73d9101d84a872",
                        "port": 2
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "41efa1154190c24d",
        "type": "subflow",
        "name": "Subflow 4",
        "info": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "eb69d32d44bd76d9"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 720,
                "y": 80,
                "wires": [
                    {
                        "id": "5c23d09cc53d8bf1",
                        "port": 0
                    },
                    {
                        "id": "a5820b2710a91bb4",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "3581784ff799b3aa",
        "type": "subflow",
        "name": "Exe Commands",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "fd53b402f0061831"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 120,
                "wires": [
                    {
                        "id": "87313341488d5136",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "11a5884a1e26f777",
        "type": "subflow",
        "name": "Init Scripts",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "b5f09f1928bf2ccc"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 200,
                "wires": [
                    {
                        "id": "909347dd458280d9",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99",
        "status": {
            "x": 800,
            "y": 40,
            "wires": [
                {
                    "id": "539b1bb86df82852",
                    "port": 0
                }
            ]
        }
    },
    {
        "id": "4f82a66a.93b828",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.0.111",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "54588401fea63e01",
        "type": "mongodb",
        "hostname": "cluster0.j5ukc.mongodb.net",
        "topology": "dnscluster",
        "connectOptions": "",
        "port": "27017",
        "db": "spank_scripts2",
        "name": ""
    },
    {
        "id": "97825d26110221fc",
        "type": "twitter-credentials",
        "screen_name": "GreenfaceLabs"
    },
    {
        "id": "4396d4fbcfa72625",
        "type": "ui_tab",
        "z": "a0954fe29f87ceff",
        "name": "Greenface Labs",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "aeb4069b6516d878",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "Gill Sans,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "Gill Sans,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 80,
                "sy": 80,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "8bb6231cf84625a5",
        "type": "ui_group",
        "z": "a0954fe29f87ceff",
        "name": "Oumuamua",
        "tab": "4396d4fbcfa72625",
        "order": 1,
        "disp": true,
        "width": "14",
        "collapse": false
    },
    {
        "id": "2a033f5be28e93e0",
        "type": "ui_group",
        "z": "a0954fe29f87ceff",
        "name": "Debug",
        "tab": "4396d4fbcfa72625",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a6aeaef83ff76327",
        "type": "inject",
        "z": "ef4cb095a7656cc5",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "tweet",
                "v": "{  \"text\" : \"\" }",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "Trigger",
        "payload": "{\"name\":\"Init\"}",
        "payloadType": "json",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "6b769294dec11207"
            ]
        ]
    },
    {
        "id": "b84ec5acc38872a7",
        "type": "subflow:a0954fe29f87ceff",
        "z": "ef4cb095a7656cc5",
        "name": "Do Script",
        "env": [],
        "x": 800,
        "y": 220,
        "wires": []
    },
    {
        "id": "6b769294dec11207",
        "type": "subflow:90cfb10a56fd7196",
        "z": "ef4cb095a7656cc5",
        "name": "Get Script",
        "env": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "b84ec5acc38872a7"
            ]
        ]
    },
    {
        "id": "6ef2c13140bffd5b",
        "type": "comment",
        "z": "ef4cb095a7656cc5",
        "name": "Oumuamua",
        "info": "# Spankulator Command Processor\nThe SCP runs scripts that control The Spankulator.\nThe scripts are found in either a MongoDB Atlas or in a JSON formatted text file.\nEach script contains an array of objects in the format:\n{\n    name: String,\n    commands: Array of Strings,\n    delay: msecs to delay after script is run\n}\n * The commands are sent to the Spankulator via HTTP to the endpoint specified in the Spankulator's WiFi settings.\n * Commands are sent one-by-one by the **HTTP Sender** node that waits for the Spankulator's response before sending the next command.\n * Edit the **Start** node's payload parameter to enter the name of the script that is to be executed. eg. {\"name\":\"Up\"}\n * This payload is used by the **Get Data** node which delivers the script data to the **Set Commands** node.\n * A warning will be issued to the debug panel if the script is not found.\n * If the script is found, **Set Commands** sets the flow variables _commands_ and _delay_ to the data found in the script. The payload is ignored beyond this point.\n * The **HTTP Sender** node uses flow variables to parse and send the commands.",
        "x": 170,
        "y": 540,
        "wires": []
    },
    {
        "id": "5656aa8175c7222b",
        "type": "function",
        "z": "90cfb10a56fd7196",
        "name": "Process MSG",
        "func": "msg.data_source = global.get(\"settings\").data_source\nmsg.cmd_name=msg.payload.name\nmsg.query=msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "37980c96a4b8052a",
                "cecc26fbe3db1455"
            ]
        ]
    },
    {
        "id": "c204c43e58c9ed0d",
        "type": "comment",
        "z": "a0954fe29f87ceff",
        "name": "msg ignored at input",
        "info": "",
        "x": 110,
        "y": 760,
        "wires": []
    },
    {
        "id": "cecc26fbe3db1455",
        "type": "function",
        "z": "90cfb10a56fd7196",
        "name": "Find Data",
        "func": "// looks through all scripts to find script specd by msg.query.name\nfunction checkName(script) {\n    let search_term=msg.query.name\n    return script.name == search_term;\n}\n//let temp = msg.payload\nlet temp = global.get(\"info\").scripts\nmsg.payload=[]\nmsg.payload[0]=temp.find(checkName)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 80,
        "wires": [
            [
                "7cc11906534b4543"
            ]
        ]
    },
    {
        "id": "261f0e5136f2ad95",
        "type": "comment",
        "z": "90cfb10a56fd7196",
        "name": "",
        "info": "Sub Flow input payload contains search query object\n{ name : \"search_term\" }\n\nGet File data overwrites payload, so search object is put into msg.query\n\nReturns data object with commands and delay",
        "x": 120,
        "y": 200,
        "wires": []
    },
    {
        "id": "c96c313110f1d0e3",
        "type": "sentiment",
        "z": "80f13c56f5360838",
        "name": "",
        "property": "payload",
        "x": 780,
        "y": 80,
        "wires": [
            [
                "06bb62c348b36af2"
            ]
        ]
    },
    {
        "id": "6039339d5205e564",
        "type": "debug",
        "z": "80f13c56f5360838",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "sentiment.score",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 420,
        "wires": []
    },
    {
        "id": "06bb62c348b36af2",
        "type": "function",
        "z": "80f13c56f5360838",
        "name": "Message Processor",
        "func": "let score = msg.sentiment.score\nlet sentiment = score > 0 ? \"Up \" : \"Down \"\nif(score>10) {\n    score=10\n}\nif(score<-10) {\n    score=-10\n}\nscore = Math.abs(score)\nmsg.payload = { \"name\" : sentiment+score }\nif(msg.sentiment.score==0) {\n    msg.payload = { \"name\" : \"Default\" }\n}\nmsg.source=\"twitter\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "78f6b9daba7558b0",
        "type": "debug",
        "z": "80f13c56f5360838",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tweet",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 180,
        "wires": []
    },
    {
        "id": "90b884e16d0f35a3",
        "type": "subflow:80f13c56f5360838",
        "z": "ef4cb095a7656cc5",
        "name": "",
        "env": [],
        "x": 340,
        "y": 100,
        "wires": [
            [
                "6b769294dec11207"
            ]
        ]
    },
    {
        "id": "a19ad4b6cb68ac7e",
        "type": "inject",
        "z": "ef4cb095a7656cc5",
        "name": "On/Off",
        "props": [
            {
                "p": "twitter_search",
                "v": "sweet,angry",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 170,
        "y": 100,
        "wires": [
            [
                "90b884e16d0f35a3"
            ]
        ]
    },
    {
        "id": "88f28cd2c48a3b09",
        "type": "function",
        "z": "80f13c56f5360838",
        "name": "Twitter Gate",
        "func": "const twitter_scanner=global.get(\"twitter_scanner\")\nlet tweet_contains_search_term=false\nfor(i=0;i<twitter_scanner.search.search_parts.length;i++) {\n    if(msg.tweet.text.indexOf(twitter_scanner.search.search_parts[i])!=-1) {\n        tweet_contains_search_term=true\n    }\n}\nif(twitter_scanner.gate.enabled && tweet_contains_search_term && msg.lang==\"en\") {\n    msg.overrides={\"greenface\": 5}\n    return msg;\n} else {\n    // don't return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "c96c313110f1d0e3"
            ]
        ]
    },
    {
        "id": "49b46025504b3c51",
        "type": "debug",
        "z": "80f13c56f5360838",
        "name": "Twitter Message",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "tweet.text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 420,
        "wires": []
    },
    {
        "id": "17d96389be74e6c0",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Script Done",
        "func": "if(msg.topic==\"control\") {\n    msg.delay=msg.view_time\n    return msg;   \n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 400,
        "wires": [
            [
                "48a4b94afe5e33f2",
                "23312f2ec10bca09"
            ]
        ]
    },
    {
        "id": "c543ab0b894d0bda",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Next Script",
        "func": "let chk_talker_status=function(){\n    let d2 = new Date();\n    const now = d2.getTime();\n    const elapsed = (now - global.get(\"info\").talk_start_time)/1000\n    //node.warn(`Elapsed time: ${elapsed}`)\n    const talker_status = global.get(\"talker\").status.text\n    if(elapsed>60 || (talker_status!=\"playing\" && msg.cmd_name!=\"Init\")) {\n        msg.topic=\"initializing\"\n        msg.payload={name: \"Init\"}\n        msg.cmd_name=\"Init\"\n        msg.commands=global.get(\"info\").init_commands\n        msg.counter=0\n        \n        // set view time. Dwell at least this long\n        const silent_time = global.get(\"settings\").silent_time\n        msg.view_time = silent_time + Math.floor(Math.random() * silent_time)\n    \n        msg.tweet={}\n        msg.user={}\n        msg.location={}\n        node.send(msg)\n        \n    } else {\n        setTimeout(chk_talker_status,500)\n    }\n}\n\nconst queue = global.get(\"queue\")\nif(msg.cmd_name==\"Init\") {\n    // we're done get next message in queue\n    if(queue.len==0) {\n        queue.queuing=false\n    }\n    msg.payload=\"trigger\"\n    return msg;\n} else {\n    let d = new Date();\n    global.get(\"info\").talk_start_time = d.getTime();\n    chk_talker_status()    \n}\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 400,
        "wires": [
            [
                "67e74526261f0b0b"
            ]
        ]
    },
    {
        "id": "54ddcdf1a3f321fa",
        "type": "q-gate",
        "z": "a0954fe29f87ceff",
        "name": "Queue",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "queueCmd": "queue",
        "defaultCmd": "default",
        "triggerCmd": "trigger",
        "flushCmd": "flush",
        "resetCmd": "reset",
        "peekCmd": "peek",
        "dropCmd": "drop",
        "statusCmd": "status",
        "maxQueueLength": "100",
        "keepNewest": false,
        "qToggle": false,
        "persist": false,
        "storeName": "memory",
        "x": 350,
        "y": 260,
        "wires": [
            [
                "212e0062caa9429e"
            ]
        ]
    },
    {
        "id": "15e83af912a10abb",
        "type": "debug",
        "z": "a0954fe29f87ceff",
        "name": "UI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 520,
        "wires": []
    },
    {
        "id": "456369ab92f7d534",
        "type": "status",
        "z": "a0954fe29f87ceff",
        "name": "Q Status",
        "scope": [
            "54ddcdf1a3f321fa"
        ],
        "x": 80,
        "y": 80,
        "wires": [
            [
                "7dd170435563c70f"
            ]
        ]
    },
    {
        "id": "5a1ebb28ce1c7929",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Set Node Status",
        "func": "// msg only contains timestamp. All data should come from globals\nconst talker_status = global.get(\"talker\").status.text\nconst queue = global.get(\"queue\")\nconst qlen=queue.len\nmsg.payload=({fill:\"green\",shape:\"dot\",text:\"Queue: \"+queue.status+\" \"+qlen+\" Talker: \"+talker_status});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "ab18a91e5ecd1534",
        "type": "inject",
        "z": "ef4cb095a7656cc5",
        "name": "Reset Queue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "control",
        "payload": "reset",
        "payloadType": "str",
        "x": 590,
        "y": 340,
        "wires": [
            [
                "b84ec5acc38872a7"
            ]
        ]
    },
    {
        "id": "d834998fd2533b91",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Queue Ctrl",
        "func": "const queue = global.get(\"queue\")\nif(msg.topic==\"control\") {\n    // might be a reset\n    queue.queuing=false\n    global.get(\"twitter_scanner\").recent_tweets.reset()\n    return msg\n} else {\n    let qmsg = \"open\"\n    if(queue.queuing) {\n        qmsg=\"queue\"\n    }\n    let ctrlmsg = {\n        payload: qmsg,\n        topic: \"control\"\n    }\n    node.send(ctrlmsg)\n    queue.queuing=true\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 260,
        "wires": [
            [
                "54ddcdf1a3f321fa"
            ]
        ]
    },
    {
        "id": "9661cd55432a21c5",
        "type": "inject",
        "z": "ef4cb095a7656cc5",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "twitter_search",
                "v": "idiot",
                "vt": "str"
            },
            {
                "p": "msg.tweet.user.profile_image_url",
                "v": "http://pbs.twimg.com/profile_images/942085419868479490/6C-qwM7H_normal.jpg",
                "vt": "str"
            },
            {
                "p": "msg.location.place",
                "v": "Outer Sasquatchia",
                "vt": "str"
            },
            {
                "p": "msg.tweet.user.screen_name",
                "v": "JoeBigfoot",
                "vt": "str"
            },
            {
                "p": "msg.tweet.user.location",
                "v": "Outer Sasquatchia",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "{\"name\":\"Up 6\"}",
        "payloadType": "json",
        "x": 170,
        "y": 280,
        "wires": [
            [
                "db38738f211fe984"
            ]
        ]
    },
    {
        "id": "a3c08b2c4234f9d3",
        "type": "debug",
        "z": "a0954fe29f87ceff",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 480,
        "wires": []
    },
    {
        "id": "ee4c480b39108e75",
        "type": "ui_template",
        "z": "a0954fe29f87ceff",
        "group": "2a033f5be28e93e0",
        "name": "Debug",
        "order": 1,
        "width": 6,
        "height": 9,
        "format": "<style>\n    .nr-dashboard-theme {\n        font-family: arial !important;\n    }\n    .debug_class {\n        color: red;\n    }\n    .warn_class {\n        color: orange;\n    }\n    #Greenface_Labs_Debug {\n        {{msg.debug_style}};\n    }\n    #Greenface_Labs_Debug .nr-dashboard-cardtitle {\n        margin-bottom: 50px;\n    }\n    #Greenface_Labs_Debug md-card {\n        background-color: #edd !important;\n        border-radius: 15px;\n        padding: 25px;\n    }\n    #Greenface_Labs_Debug md-card > div {\n        margin-bottom: 15px;\n    }\n    .hide {\n        display: none;\n    }\n    .debug_class span {\n        color: black;\n    }\n    #sentiment_div {\n        display: flex;\n        justify-content: center;\n        gap: 20px;\n    }\n    #sentiment_div>div {\n        width: 40%;\n    }\n    #sentiment_div li {\n        color: black;\n    }\n    #sentiment_div ul {\n        list-style-type: none;\n        list-style-position: outside;\n        text-align: left;\n        padding:0;\n    }\n</style>\n<div id=\"debug_cmd_name\" class=\"debug_class\" ng-bind-html=\"msg.cmd_name\"></div>\n<div class=\"debug_class\" ng-bind-html=\"msg.endpoint\"></div>\n<div id=\"debug_fxn\" class=\"debug_class\" ng-bind-html=\"msg.payload.fxn\"></div>\n<div class=\"debug_class\" ng-bind-html=\"msg.query\"></div>\n<div class=\"debug_class\" ng-bind-html=\"msg.sentiment_score\"></div>\n<div id=\"sentiment_div\" class=\"debug_class\">\n    <div id=\"good_words\">\n        <strong>Good Words</strong>\n        <ul>\n            <li ng-repeat=\"x in msg.sentiment.positive\">{{x}}</li>\n        </ul>\n    </div>\n    <div id=\"bad_words\">\n        <strong>Bad Words</strong>\n        <ul>\n            <li ng-repeat=\"x in msg.sentiment.negative\">{{x}}</li>\n        </ul>\n    </div>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1230,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "12bf12defeb60243",
        "type": "twitter in",
        "z": "80f13c56f5360838",
        "twitter": "97825d26110221fc",
        "tags": "",
        "user": "false",
        "name": "Scanner",
        "inputs": 1,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "88f28cd2c48a3b09"
            ]
        ]
    },
    {
        "id": "4c6fcf4b1972aa16",
        "type": "function",
        "z": "80f13c56f5360838",
        "name": "Set Twitter",
        "func": "const twitter_scanner = global.get(\"twitter_scanner\")\nconst twitter_on = twitter_scanner.gate.toggle()\n\nmsg.twitter_on = twitter_on ? \"ON\" : \"OFF\"\n\n// twitter scanner needs search term in payload\nif(twitter_on) {\n    twitter_scanner.search.set(msg)\n    msg.payload=twitter_scanner.search.get()\n} else {\n    // turn twitter scanner off with blank payload\n    msg.payload=\"\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 80,
        "wires": [
            [
                "12bf12defeb60243",
                "9baf0c949fbdde64"
            ]
        ]
    },
    {
        "id": "9baf0c949fbdde64",
        "type": "function",
        "z": "80f13c56f5360838",
        "name": "",
        "func": "const twitter_scanner=global.get(\"twitter_scanner\")\nconst color=twitter_scanner.gate.enabled? \"green\":\"gray\"\nconst text=twitter_scanner.gate.enabled ? \"ON\" : \"OFF\"\nmsg.payload=({fill:color,shape:\"dot\",text:text+\" Search: \"+twitter_scanner.search.get()});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst twitter_scanner=global.get(\"twitter_scanner\")\nconst color=twitter_scanner.gate.enabled? \"green\":\"gray\"\nconst text=twitter_scanner.gate.enabled ? \"ON\" : \"OFF\"\nlet msg={}\nmsg.payload=({fill:color,shape:\"dot\",text:text+\" Search: \"+twitter_scanner.search.get()});\nnode.send(msg);\n",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "db38738f211fe984",
        "type": "function",
        "z": "ef4cb095a7656cc5",
        "name": "Set Test Data",
        "func": "global.get(\"twitter_scanner\").search.set(msg)\nmsg.language=\"en\"\nmsg.tweet.text=\"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum efficitur elit quis sem volutpat venenatis. Ut ullamcorper pharetra dui eget eleifend. Aenean eu lobortis justo. Aliquam nisl ante, eleifend nec quam id, dapibus pretium ex. Aliquam et leo quam. In non nibh et ante maximus porttitor a non ipsum.\"\n//msg.tweet.text=\"Hey. Stop that! You idiot.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 280,
        "wires": [
            [
                "6b769294dec11207"
            ]
        ]
    },
    {
        "id": "b36ca702392d45de",
        "type": "function",
        "z": "b77158335238532e",
        "name": "Process speech",
        "func": "if(msg.cmd_name!=\"Init\") {\n    let speech=msg.tweet.text\n    if(msg.tweet.user) {\n        if(msg.tweet.user.screen_name) {\n            speech += \". tweeted by: \" + msg.tweet.user.screen_name\n        }\n        if(msg.tweet.user.location) {\n            speech += \", \" + msg.tweet.user.location\n        }\n    }\n    msg.payload=speech\n    msg.payload=msg.payload.replace(/http(\\S+)/g,\"\")\n    msg.payload=msg.payload.replace(/_/g,\" \")\n    msg.level=global.get(\"settings\").speech_volume\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 140,
        "wires": [
            [
                "da73d9101d84a872"
            ]
        ]
    },
    {
        "id": "da73d9101d84a872",
        "type": "switch",
        "z": "b77158335238532e",
        "name": "",
        "property": "cmd_sentiment",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Default",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Up",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Down",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 570,
        "y": 140,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "08d53ce632f3ceff",
        "type": "function",
        "z": "ef4cb095a7656cc5",
        "name": "Settings",
        "func": "// see On Start",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\n\nconst twitter_scanner={\n    search: {\n        search_string: \"money\",\n        search_parts: [],\n        get: function() {\n            return this.search_string;\n        },\n        set: function(msg) {\n            if(msg.twitter_search>\"\") {\n                this.search_string=msg.twitter_search\n                this.search_parts=this.search_string.split(\",\")\n            }\n        }\n    },\n    gate: {\n        enabled: false,\n        get: function() { return this.enabled },\n        set: function(f) { this.enabled=f!=0 },\n        toggle: function() {\n            this.enabled = !this.enabled\n            return this.get()\n        }\n    },\n    recent_tweets : {\n        max_tweets: 75,\n        tweets: [],\n        add_tweet: function(tweet) {\n            if(this.tweets.indexOf(tweet)>-1) {\n                console.log(\"Duplicate tweet. Dropping: \"+tweet)\n                return false\n            } else {\n                this.tweets.push(tweet)\n                if(this.tweets.length>this.max_tweets) {\n                    this.tweets.shift()\n                }\n                return true\n            }\n        },\n        reset: function() {\n            this.tweets=[]\n        },\n        debug: function() {\n            console.log(this.tweets)\n        }\n    }\n}\nglobal.set(\"twitter_scanner\",twitter_scanner)\n\nconst queue = {\n    len: 0,\n    status: \"\",\n    queuing: false\n}\nglobal.set(\"queue\",queue)\n\nconst talker = {\n    status: { text: \"unset\"}\n}\nglobal.set(\"talker\",talker)\n\nconst info = {\n    scripts: {},\n    init_commands: [],\n    talk_start_time: 0,\n    cmd_name: \"\"\n}\nglobal.set(\"info\",info)\n\nconst Settings = {\n    \"debug\": true,\n    \"data_source\" : \"file\",\n    \"filename\" : \"C:\\\\Users\\\\Shann\\\\Dropbox\\\\moog\\\\spankulator\\\\node-red\\\\docs\\\\sentiment_4.json\",\n    \"speech_volume\" : 95,\n    \"view_time\": 3000,\n    \"silent_time\": 300,\n    \"require_image\": true,\n    \"dev0\" : {\n        url: \"192.168.0.115\",\n        enabled: true\n    },\n    \"dev1\" : {\n        url: \"192.168.0.105\",\n        enabled: true\n    }\n}\nglobal.set(\"settings\",Settings)\n\nlet msg = { \n    data_source: Settings.data_source,\n    filename: Settings.filename\n}\nnode.send(msg)\n/*\nMongo DB node must be configured manually!\n*/",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 340,
        "wires": [
            [
                "5dcf2412633e21e2"
            ]
        ],
        "icon": "node-red/cog.svg"
    },
    {
        "id": "7857e13809b2a289",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Debug Filter",
        "func": "if(msg.topic!=\"control\") {\n    msg.debug_style=global.get(\"settings\").debug ? \"\" : \"display:none\"\n    msg.endpoint=`${msg.device}: <span>${msg.endpoint}</span>`\n    msg.payload.fxn=`Fxn: <span>${msg.payload.fxn}</span>`\n    msg.cmd_name = `Script name: <span>${msg.cmd_name}</span>`\n    msg.query = `CMD: <span>${msg.query}</span>`\n    if(msg.sentiment) msg.sentiment_score = `Sentiment: <span>${msg.sentiment.score}</span>`\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "ee4c480b39108e75"
            ]
        ]
    },
    {
        "id": "5c23d09cc53d8bf1",
        "type": "http request",
        "z": "41efa1154190c24d",
        "name": "Spankulator",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{{endpoint}}}}/{{{{query}}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "72ab58c8cba0a9ca",
        "type": "function",
        "z": "b77158335238532e",
        "name": "Process tweet",
        "func": "if(msg.tweet) {\n    if(msg.tweet.extended_tweet) {\n        msg.tweet.text = msg.tweet.extended_tweet.full_text\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "b36ca702392d45de",
                "0b31b19fc634e035"
            ]
        ]
    },
    {
        "id": "48a4b94afe5e33f2",
        "type": "subflow:b77158335238532e",
        "z": "a0954fe29f87ceff",
        "name": "Process UI",
        "env": [],
        "x": 430,
        "y": 620,
        "wires": [
            [
                "352aa494d8ddcbfe"
            ],
            [
                "230c56953c36b358"
            ],
            [
                "1bf7c66b0d91f2d0"
            ],
            [
                "fd8285b77b157c7e"
            ]
        ]
    },
    {
        "id": "352aa494d8ddcbfe",
        "type": "ui_template",
        "z": "a0954fe29f87ceff",
        "group": "8bb6231cf84625a5",
        "name": "UI Display",
        "order": 1,
        "width": 14,
        "height": 9,
        "format": "<style>\n    @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Rubik+Beastly&family=Sigmar+One&family=Amita:wght@700&family=Black+Ops+One&family=Bungee+Inline&family=Chewy&family=Courier+Prime:wght@700&family=Creepster&family=Emilys+Candy&family=Freckle+Face&family=Lakki+Reddy&family=Metal+Mania&family=Mystery+Quest&family=New+Rocker&family=Oleo+Script&family=Rock+Salt&family=Rye&family=Shrikhand&family=UnifrakturCook:wght@700&display=swap');\n    /*.nr-dashboard-theme {*/\n    /*    font-family: copperplate !important;*/\n    /*}*/\n    /*.nr-dashboard-cardcontainer {*/\n    /*    height: 500px !important;*/\n    /*}*/\n    md-content>section {\n        background-image: url('https://www.greenlightdevelopment.com/wp-content/plugins/gld_demos/alien_landers/images/spacegame/stars.gif');\n    }\n     ui-card-panel, #Greenface_Labs_Oumuamua md-card {\n        background-color: transparent !important;\n        border: none !important;\n    }\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n        color: #567;\n        font-family: 'Sigmar One', cursive;\n        font-size: 3em;\n    }\n    #toolbar {\n        display: none;\n    }\n    ui-card-panel {\n        margin-top: 35px;\n    }\n    #img_div {\n\t\tposition: absolute;\n\t\ttop: 0px;\n\t\tleft: 0px;\n\t\twidth: 100%;\n\t\topacity: .3;\n    }\n    #tweet {\n\t\tposition: relative;\n        overflow: hidden;\n        border-radius: 45px;\n        margin: 36px;\n        min-height: 585px;\n        font-size: 3em;\n        /* padding: 25px; */\n        transition-duration: 4s;\n        opacity: 1;\n    }\n\t#tweet_text {\n\t\tmargin: 25px;\n\t}\n    #tweet span {\n        text-shadow: 2px 2px #000;\n    }\n    #tweet.Down span {\n        color: #417940 !important;\n    }\n    #tweet.Up span {\n        color: #bb422f !important;\n    }\n    #tweet.Default span {\n        color: blue !important;\n        text-shadow: orange !important;\n    }\n    #user {\n        padding-bottom: 1em;\n        position: absolute;\n        bottom: 25px;\n        width: 96%;\n    }\n    #user * {\n        float: right;\n    }\n    #user div {\n        margin-right: 1em;\n    }\n    #user_location {\n        color: #dda;\n    }\n    .Init {\n        opacity: 0 !important;\n    }\n    \n    .Test, .Default {\n        font-family: Sigmar One;\n        font-size: 2.2em !important;\n        color: #333;\n        background-color: #ddd;\n        background-image: linear-gradient(#ee0, #aaf);\n    }\n    .Up_1 {\n        background-image: linear-gradient(yellow 50%, green 90%);\n        font-family: 'Oleo Script', cursive !important;\n        font-size: 3em !important;\n    }\n    .Up_2 {\n        background-image: linear-gradient(yellow 40%, green 90%);\n        font-family: 'Shrikhand', cursive !important;\n        font-size: 3em !important;\n    }\n    .Up_3 {\n        background-image: linear-gradient(yellow 30%, green 90%);\n        font-family: 'Rock Salt', cursive !important;\n        font-size: 2em !important;\n    }\n    .Up_4 {\n        background-image: linear-gradient(yellow 20%, green 90%);\n        font-family: 'Chewy', cursive !important;\n        font-size: 3em !important;\n    }\n    .Up_5 {\n        background-image: linear-gradient(yellow 10%, green 90%);\n        font-family: 'Amita', cursive !important;\n        font-size: 2.7em !important;\n    }\n    .Up_6 {\n        background-image: linear-gradient(yellow 0%, green 90%);\n        font-family: 'Lakki Reddy', cursive !important;\n        font-size: 3em !important;\n        line-height: 1.4em !important;\n    }\n    .Up_7 {\n        background-image: linear-gradient(yellow -10%, green 90%);\n        font-family: 'Freckle Face', cursive !important;\n        font-size: 3em !important;\n        line-height: 1.5em !important;\n    }\n    .Up_8 {\n        background-image: linear-gradient(yellow -20%, green 90%);\n        font-family: 'Oleo Script', cursive !important;\n        font-size: 3em !important;\n    }\n    .Up_9 {\n        background-image: linear-gradient(yellow -30%, green 90%);\n        font-family: 'Mystery Quest', cursive !important;\n        font-size: 3em !important;\n    }\n    .Up_10 {\n        background-image: linear-gradient(yellow -40%, green 90%);\n        font-family: 'Emilys Candy', cursive !important;\n        font-size: 3.3em !important;\n    }\n    .Up {\n        color: #617;\n        background-color: #5a5;\n        /*background-image: linear-gradient(green, yellow);*/\n        /*font-family: 'Alfa Slab One', cursive !important;*/\n    }\n    .Down_1 {\n        background-image: linear-gradient(yellow 50%, red 90%);\n        font-family: 'Courier Prime', cursive !important;\n    }\n    .Down_2 {\n        background-image: linear-gradient(yellow 40%, red 90%);\n        font-family: 'Creepster', cursive !important;\n    }\n    .Down_3 {\n        background-image: linear-gradient(yellow 30%, red 90%);\n        font-family: 'Rock Salt', cursive !important;\n        font-size: 2em !important;\n    }\n    .Down_4 {\n        background-image: linear-gradient(yellow 20%, red 90%);\n        font-family: 'Metal Mania', cursive !important;\n    }\n    .Down_5 {\n        background-image: linear-gradient(yellow 10%, red 90%);\n        font-family: 'UnifrakturCook', cursive !important;\n        font-size: 3.5em !important;\n        letter-spacing: 2px;\n    }\n    .Down_6 {\n        background-image: linear-gradient(yellow 0%, red 90%);\n        font-family: 'Creepster', cursive !important;\n        line-height: 1.3em;\n    }\n    .Down_7 {\n        background-image: linear-gradient(yellow -10%, red 90%);\n        font-family: 'Rock Salt', cursive !important;\n        font-size: 2em !important;\n    }\n    .Down_8 {\n        background-image: linear-gradient(yellow -20%, red 90%);\n        font-family: 'Metal Mania', cursive !important;\n    }\n    .Down_9 {\n        background-image: linear-gradient(yellow -30%, red 90%);\n        font-family: 'Black Ops One', cursive !important;\n        font-size: 3em !important;\n    }\n    .Down_10 {\n        background-image: linear-gradient(yellow -40%, red 90%);\n        font-family: 'Rubik Beastly', cursive !important;\n        color: #30303a !important;\n    }\n    .Down {\n        color: black;\n        background-color: #f77;\n        /*background-image: linear-gradient(yellow 50%, red 90%);*/\n        /*font-family: 'Rock Salt', cursive;\n        font-family: 'Freckle Face', cursive;*/\n    }\n    \n</style>\n<div id=\"tweet\" class=\"{{msg.cmd_sentiment}} {{msg.tweet_class}}\">\n    <div id=\"tweet_text\" ng-bind-html=\"msg.tweet.text\" ></div>\n    <div id=\"img_div\"><img id=\"the_image\" ng-show=\"msg.img\" ng-src=\"{{msg.img}}\" /></div>\n</div>\n\n<div id=\"user\">\n    <img src=\"{{msg.tweet.user.profile_image_url}}\" ng-hide=\"{{msg.cmd_name==='Init'}}\" />\n    <div id=\"user_location\" ng-bind-html=\"msg.location.place\"></div>\n    <div ng-bind-html=\"msg.tweet.user.screen_name\"></div>\n</div>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 670,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "230c56953c36b358",
        "type": "ui_audio",
        "z": "a0954fe29f87ceff",
        "name": "Default talker",
        "group": "8bb6231cf84625a5",
        "voice": "Microsoft David - English (United States)",
        "always": true,
        "x": 670,
        "y": 600,
        "wires": []
    },
    {
        "id": "1bf7c66b0d91f2d0",
        "type": "ui_audio",
        "z": "a0954fe29f87ceff",
        "name": "Up Talker",
        "group": "8bb6231cf84625a5",
        "voice": "Microsoft Zira - English (United States)",
        "always": "",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "fd8285b77b157c7e",
        "type": "ui_audio",
        "z": "a0954fe29f87ceff",
        "name": "Down talker",
        "group": "8bb6231cf84625a5",
        "voice": "Microsoft Mark - English (United States)",
        "always": "",
        "x": 670,
        "y": 680,
        "wires": []
    },
    {
        "id": "64a4fd6ba25167be",
        "type": "status",
        "z": "a0954fe29f87ceff",
        "name": "Talker status",
        "scope": [
            "230c56953c36b358",
            "1bf7c66b0d91f2d0",
            "fd8285b77b157c7e"
        ],
        "x": 670,
        "y": 740,
        "wires": [
            [
                "5f7dd9f90f0385bd"
            ]
        ]
    },
    {
        "id": "5f7dd9f90f0385bd",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Set Talker Status",
        "func": "global.get(\"talker\").status=msg.status\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "0b31b19fc634e035",
        "type": "function",
        "z": "b77158335238532e",
        "name": "Enhance Display",
        "func": "if(msg.tweet) {\n    const search = global.get(\"twitter_scanner\").search.get()\n    //node.warn(global.get(\"twitter_scanner\").search.search_parts)\n    if(search && msg.tweet.text) {\n        global.get(\"twitter_scanner\").search.search_parts.forEach(function(currentValue, index) {\n            let reg = new RegExp(currentValue, \"gi\");\n            msg.tweet.text=msg.tweet.text.replace(reg,`<span>${currentValue}</span>`)\n        })\n        // let reg = new RegExp(search, \"gi\");\n        // msg.tweet.text=msg.tweet.text.replace(reg,`<span>${search}</span>`)\n    }\n}\n\ntry {\n   msg.img=msg.tweet.extended_entities.media[0].media_url \n} catch(err) {\n    //node.warn(\"No image!\")\n    msg.img=null\n}\n\nmsg.tweet_class=msg.cmd_name.replace(\" \",\"_\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "515f5b84e49dbfe8",
        "type": "function",
        "z": "41efa1154190c24d",
        "name": "",
        "func": "const settings = global.get(\"settings\")\nmsg.enabled=settings[msg.device].enabled\nmsg.enabled=true\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "eb69d32d44bd76d9",
        "type": "switch",
        "z": "41efa1154190c24d",
        "name": "",
        "property": "enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 310,
        "y": 80,
        "wires": [
            [
                "5c23d09cc53d8bf1"
            ],
            [
                "a5820b2710a91bb4"
            ]
        ]
    },
    {
        "id": "a5820b2710a91bb4",
        "type": "function",
        "z": "41efa1154190c24d",
        "name": "",
        "func": "node.warn(\"Skipping\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "ed476148076e1623",
        "type": "http request",
        "z": "3581784ff799b3aa",
        "name": "SYNTH",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{endpoint}}}/{{{query}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 760,
        "y": 40,
        "wires": [
            [
                "87313341488d5136"
            ]
        ]
    },
    {
        "id": "37980c96a4b8052a",
        "type": "function",
        "z": "90cfb10a56fd7196",
        "name": "Status",
        "func": "if(msg.cmd_name!=\"Init\") {\n    const text = msg.cmd_name \n    msg.payload=({text:text});\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "b717160d2430598a",
        "type": "debug",
        "z": "b77158335238532e",
        "name": "UI",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "75b3c36e64088333",
        "type": "switch",
        "z": "3581784ff799b3aa",
        "name": "",
        "property": "device_enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 590,
        "y": 80,
        "wires": [
            [
                "ed476148076e1623"
            ],
            [
                "87313341488d5136"
            ]
        ]
    },
    {
        "id": "010b4454e988afe3",
        "type": "subflow:3581784ff799b3aa",
        "z": "a0954fe29f87ceff",
        "name": "",
        "env": [],
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "7857e13809b2a289",
                "17d96389be74e6c0"
            ]
        ]
    },
    {
        "id": "fd53b402f0061831",
        "type": "function",
        "z": "3581784ff799b3aa",
        "name": "Process Command",
        "func": "// meta-commands MUST be followed by non-meta command\n\nmsg.device=\"dev0\"\nconst globals = global.get(\"settings\")\nconst cmds = msg.commands\nlet ctr = msg.counter\nif(ctr<cmds.length) {\n    let cmd = cmds[ctr]\n    if(cmd>\"\") {\n        if(cmd.indexOf(\"#dev\")==0) {\n            msg.device=cmd.replace('#',\"\")\n            // check to make sure it isn't bogus\n            switch(msg.device) {\n                case \"dev0\":\n                case \"dev1\":\n                    break;\n                default:\n                    node.warn(`Replacing ${msg.device} with dev0`)\n                    msg.device=\"dev0\"\n            }\n            msg.endpoint=globals[msg.device].url\n            msg.device_enabled=globals[msg.device].enabled\n            //node.warn(msg)\n            ctr++\n        }\n        if(cmd.indexOf(\"#delay\")==0) {\n            //node.warn(\"Hit a delay!\")\n            const parts = cmd.split(\":\")\n            msg.script_delay=parts[1]\n            ctr++\n        } else {\n            msg.script_delay=null\n        }\n    }\n    // msg.device_enabled=true\n    // todo: check that cmds[ctr] is non-meta\n    msg.query=cmds[ctr]\n    msg.counter = ctr\n    return msg;\n} else {\n    //node.warn(\"End of the line...\")\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 120,
        "wires": [
            [
                "5bca6b83bff576dc"
            ]
        ]
    },
    {
        "id": "87313341488d5136",
        "type": "function",
        "z": "3581784ff799b3aa",
        "name": "Increment CMD Counter",
        "func": "msg.counter++\nif(msg.counter >= msg.commands.length) {\n    msg.topic=\"control\"\n    msg.payload=\"trigger\"\n    //msg.counter=0\n}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 120,
        "wires": [
            [
                "fd53b402f0061831"
            ]
        ]
    },
    {
        "id": "5bca6b83bff576dc",
        "type": "switch",
        "z": "3581784ff799b3aa",
        "name": "",
        "property": "script_delay",
        "propertyType": "msg",
        "rules": [
            {
                "t": "null"
            },
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "75b3c36e64088333"
            ],
            [
                "ad9d1126bcaccfa1"
            ]
        ]
    },
    {
        "id": "081725d5474ddfcf",
        "type": "delay",
        "z": "3581784ff799b3aa",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 680,
        "y": 260,
        "wires": [
            [
                "3cba783275f616cb"
            ]
        ]
    },
    {
        "id": "ad9d1126bcaccfa1",
        "type": "change",
        "z": "3581784ff799b3aa",
        "name": "Set Delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "script_delay",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 260,
        "wires": [
            [
                "081725d5474ddfcf"
            ]
        ]
    },
    {
        "id": "3cba783275f616cb",
        "type": "change",
        "z": "3581784ff799b3aa",
        "name": "Zero Delay",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "87313341488d5136"
            ]
        ]
    },
    {
        "id": "f6b0e71050799ee2",
        "type": "debug",
        "z": "3581784ff799b3aa",
        "name": "Set Commands",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 240,
        "wires": []
    },
    {
        "id": "7cc11906534b4543",
        "type": "function",
        "z": "90cfb10a56fd7196",
        "name": "Validate",
        "func": "if(msg.payload[0]!=undefined) {\n    if(msg.initializing) {\n        // don't execute. We are saving these for later\n        const info = global.get(\"info\")\n        info.init_commands=msg.payload[0].commands\n    } else {\n        // set commands and send msg\n        msg.commands = msg.payload[0].commands\n        \n        const first_command = msg.commands[0]\n        \n        // The first command must be a device meta-command\n        if(first_command.indexOf(\"#dev\")!=0) {\n            node.warn(`First command must be a device command! Dropping ${msg.cmd_name}`)\n        } else {\n            // set counter\n            msg.counter = 0\n            \n            // set view time. Dwell at least this long\n            // msg.view_time = parseInt(msg.payload[0].delay,10)\n            msg.view_time = global.get(\"settings\").view_time\n        \n            // set command sentiment\n            const cmd_parts = msg.payload[0].name.split(\" \")\n            msg.cmd_sentiment=cmd_parts[0]\n            \n            try {\n               msg.img=msg.tweet.extended_entities.media[0].media_url \n            } catch(err) {\n                //node.warn(\"No image!\")\n                msg.img=null\n            }\n            \n            if(global.get(\"settings\").require_image) {\n                if(msg.img || msg.source!=\"twitter\") {\n                    return msg;\n                }\n            } else {\n                return msg\n            }\n            \n        }\n    }\n    \n} else {\n    node.warn(msg.query.name + \": Not Found!\")\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "73d9e25da19621e7",
        "type": "switch",
        "z": "a0954fe29f87ceff",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "control",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "control",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 400,
        "wires": [
            [
                "54ddcdf1a3f321fa"
            ],
            [
                "010b4454e988afe3"
            ]
        ]
    },
    {
        "id": "3ef298db31890e5d",
        "type": "inject",
        "z": "ef4cb095a7656cc5",
        "name": "Play All",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "",
        "payload": "trigger",
        "payloadType": "str",
        "x": 170,
        "y": 160,
        "wires": [
            [
                "0f4b37566e66f7ea"
            ]
        ]
    },
    {
        "id": "0f4b37566e66f7ea",
        "type": "function",
        "z": "ef4cb095a7656cc5",
        "name": "Set Play Data",
        "func": "msg.twitter_search=\"Howdy\"\nglobal.get(\"twitter_scanner\").search.set(msg)\nmsg.language=\"en\"\nfor(i=-10;i<11;i++) {\n    let sentiment = i>0 ? \"Up\":\"Down\"\n    const magnitude = Math.abs(i)\n    if(i==0) sentiment=\"Default\"\n    if(i!=0) sentiment = `${sentiment} ${magnitude}`\n    msg.payload = {name: sentiment}\n    msg.tweet = {\n        text: `Howdy ${sentiment}!`,\n        user: {}\n    }\n    node.send(msg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 160,
        "wires": [
            [
                "6b769294dec11207"
            ]
        ]
    },
    {
        "id": "f4d24581fa554a37",
        "type": "mongodb in",
        "z": "11a5884a1e26f777",
        "mongodb": "54588401fea63e01",
        "name": "Get Data",
        "collection": "sentiment_4_2",
        "operation": "find",
        "x": 440,
        "y": 80,
        "wires": [
            [
                "539b1bb86df82852"
            ]
        ]
    },
    {
        "id": "06add11047b34c37",
        "type": "file in",
        "z": "11a5884a1e26f777",
        "name": "Get File Data",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 180,
        "wires": [
            [
                "7718c4b15d40c5bf"
            ]
        ]
    },
    {
        "id": "7718c4b15d40c5bf",
        "type": "json",
        "z": "11a5884a1e26f777",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 510,
        "y": 180,
        "wires": [
            [
                "539b1bb86df82852",
                "a94f2f4b153f3bca"
            ]
        ]
    },
    {
        "id": "b5f09f1928bf2ccc",
        "type": "switch",
        "z": "11a5884a1e26f777",
        "name": "",
        "property": "data_source",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mongo",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "file",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "f4d24581fa554a37"
            ],
            [
                "06add11047b34c37"
            ]
        ]
    },
    {
        "id": "539b1bb86df82852",
        "type": "function",
        "z": "11a5884a1e26f777",
        "name": "Set Scripts",
        "func": "// payload is object containing array of all scripts\nconst info = global.get(\"info\")\ninfo.scripts=msg.payload\nconst text = \"Data Source: \"+global.get(\"settings\").data_source + \" \" + info.scripts.length + \" scripts\"\nmsg.payload=({text:text});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 80,
        "wires": [
            [
                "909347dd458280d9"
            ]
        ]
    },
    {
        "id": "5dcf2412633e21e2",
        "type": "subflow:11a5884a1e26f777",
        "z": "ef4cb095a7656cc5",
        "name": "Init Scripts",
        "env": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "6b769294dec11207"
            ]
        ]
    },
    {
        "id": "21345e99bad74071",
        "type": "debug",
        "z": "3581784ff799b3aa",
        "name": "Command done",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 220,
        "wires": []
    },
    {
        "id": "1e5a8f6fbe35d25a",
        "type": "debug",
        "z": "90cfb10a56fd7196",
        "name": "GetScript:Validate",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 180,
        "wires": []
    },
    {
        "id": "475a0b86f6c590d3",
        "type": "inject",
        "z": "a0954fe29f87ceff",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "status.text",
                "v": "...",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5a1ebb28ce1c7929"
            ]
        ]
    },
    {
        "id": "7dd170435563c70f",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "Set Queue global",
        "func": "let qlen=0\nlet arr=msg.status.text.split(\" \")\nlet status=arr[0]\nif(status!=\"open\") {\n    qlen=arr[1]\n}\n\nlet queue = global.get(\"queue\")\nqueue.status=status\nqueue.len=qlen\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "67e74526261f0b0b",
        "type": "delay",
        "z": "a0954fe29f87ceff",
        "name": "View Time",
        "pauseType": "delayv",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 650,
        "y": 400,
        "wires": [
            [
                "73d9e25da19621e7",
                "a3c08b2c4234f9d3"
            ]
        ]
    },
    {
        "id": "23312f2ec10bca09",
        "type": "delay",
        "z": "a0954fe29f87ceff",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "x": 300,
        "y": 400,
        "wires": [
            [
                "c543ab0b894d0bda"
            ]
        ]
    },
    {
        "id": "59bbae44cb4481db",
        "type": "debug",
        "z": "a0954fe29f87ceff",
        "name": "Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "a94f2f4b153f3bca",
        "type": "debug",
        "z": "11a5884a1e26f777",
        "name": "Json data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 320,
        "wires": []
    },
    {
        "id": "909347dd458280d9",
        "type": "function",
        "z": "11a5884a1e26f777",
        "name": "Get Init Commands",
        "func": "// get init commands to store for later\n\nmsg.data_source = global.get(\"settings\").data_source\nmsg.payload={name: \"Init\"}\nmsg.cmd_name=msg.payload.name\nmsg.query=msg.payload\nmsg.initializing=true\nnode.send(msg)",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "212e0062caa9429e",
        "type": "function",
        "z": "a0954fe29f87ceff",
        "name": "DeQueue",
        "func": "let ok_to_add=false\nif(msg.cmd_name==\"Init\") {\n    ok_to_add=true\n} else {\n    const twitter_scanner=global.get(\"twitter_scanner\")\n    const recent_tweets = twitter_scanner.recent_tweets\n    try {\n        if(msg.tweet.text>\"\") {\n            ok_to_add = recent_tweets.add_tweet(msg.tweet.text)\n        }\n    }\n    catch(err) {\n        node.warn(err)\n    }\n    \n    recent_tweets.debug()\n}\n\nif(ok_to_add) {\n    msg.sender=\"\"\n    return msg\n} else {\n    node.warn(\"Dropping duplicate: \"+msg.tweet.text)\n    let newmsg = {\n        topic: \"control\",\n        payload: \"trigger\",\n        sender: \"dequeue\"\n    }\n    node.send(newmsg)\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 260,
        "wires": [
            [
                "60ec921b4b8b4219",
                "59bbae44cb4481db"
            ]
        ]
    },
    {
        "id": "60ec921b4b8b4219",
        "type": "switch",
        "z": "a0954fe29f87ceff",
        "name": "",
        "property": "sender",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "dequeue",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "dequeue",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 710,
        "y": 180,
        "wires": [
            [
                "54ddcdf1a3f321fa"
            ],
            [
                "010b4454e988afe3"
            ]
        ]
    }
]